<div class="card" [ngStyle]="{'border-top': '5px solid' + customer.color}">
        <div class="header-section">
            <img [src]="customer.logo" alt="Avatar" class ="customerLogo">
            <div class="header">
                <h4>{{customer.company}}</h4>
                <label class="customerName">{{customer.name}}</label>
            </div>
        </div>
        <label class="customer-details">{{customer.address}}</label>
        <label class="customer-details">{{customer.email}}</label>
</div>