@import "../../../styles.scss";
.customer-footer {
    margin-top: $px25*3+px;
    border-top: 1px solid;
    .back-link {
        padding: $px10+px 0px $px10+px $px10+px;
        font-weight: bold;
    }
}
